@import url(../../assets/styles/fonts.css);
@import url(../../assets/styles/reset.css);

/* common styles */
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: 400;
  color: #000;
  background-color: transparent;
  font-family: Roboto, Verdana, sans-serif;
}
._lock {
  overflow: hidden;
}
header,
footer {
  color: #fff;
}
.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
header {
  position: relative;
  z-index: 2;
}
.logo {
  width: 82px;
  border: 1px solid #fff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 120%;
  line-height: 23px;
  display: inline-block;
  padding: 2px;
  position: relative;
}
.logo:before {
  position: absolute;
  left: 12px;
  bottom: 6px;
  content: '';
  background: url(../../assets/icons/bamboo.svg) 50% no-repeat;
  width: 7px;
  height: 21px;
  display: inline-block;
}
.active-menu-item {
  cursor: default;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.menu_icon {
  display: none;
}

/* buttons */
button {
  cursor: pointer;
}
.button1 {
  width: 100%;
  max-width: 298px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #fff;
  border-radius: 25px;
  padding: 16px 1px 16px 5px;
}
.button2 {
  width: 100%;
  max-width: 298px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  color: #fff;
  border-radius: 5px;
  padding: 16px 1px 16px 5px;
}
.button3 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
  background: #f1f3f2;
  border-radius: 5px;
  padding: 9px 39px;
}
.button3_color_default {
  color: #000;
  border: 1px solid #333b41;
}
.button3_color_default:active {
  color: #4b9200;
  border-color: #4b9200;
}
.button_color_default {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.button_color_default:hover {
  background: #e47209;
}
.button_color_default:active {
  background: #4b9200;
}
.button_disabled,
.button_disabled:hover,
.button_disabled:active {
  background: #767474;
  cursor: pointer;
}
.button_mistake,
.button_mistake:active {
  color: #d31414;
  border-color: #d31414;
}

/* 1600px */
/* header section */
header {
  background-color: #000;
  text-align: center;
  padding: 0 2%;
}
header .wrapper {
  padding: 14px 0;
}
header .wrapper {
  display: flex;
  align-items: center;
}
.menu {
  flex: 1;
}
header nav {
  margin-left: 63px;
}
header li a {
  font-weight: 500;
  margin-right: 58px;
}
header li:last-of-type a {
  margin-right: 0;
}
header .author {
  float: right;
}

/* watch section */
.watchWrapper {
  height: 387px;
  position: relative;
}
.watchWrapper:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: url(../../assets/images/panda_bg_donate_1600.jpg) 50% no-repeat;
  background-size: cover;
  z-index: -1;
}

/* donate section */
.donate {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  color: #333b41;
  padding-bottom: 180px;
  padding-top: 40px;
}
.donate h2 {
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 120%;
}
.donate h3 {
  font-size: 3.6rem;
  font-weight: normal;
  line-height: 130%;
}
.donate h2,
.donate h3 {
  color: #fe9013;
}
.info {
  margin-bottom: 47px;
}
.info h3,
.info p {
  color: #fff;
}
.info p {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 135%;
}
.info + h3 {
  margin-bottom: 60px;
}
.pick {
  background: rgba(255, 255, 255, 0.52);
  border-radius: 20px;
  padding: 40px 92px 46px;

  text-align: center;
}
.pick h2 {
  margin-left: -13px;
}
.pick h2 + p {
  margin-top: 21px;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}
.petDiet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 48px;
  padding-right: 14px;
}
.petDiet span:nth-of-type(1) {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 80%;
  padding-left: 0px;
  padding-top: 56px;
  padding-bottom: 10px;
  color: #000;
}
.petDiet div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.petDiet div:last-child {
  margin-left: 90px;
}
.petDiet div:first-child:after {
  content: url(../../assets/icons/x_icon.svg);
  position: absolute;
  right: -25px;
  top: 53%;
}
.amount > p {
  margin-bottom: 16px;
  text-align: left;
  padding-left: 5px;
}
.amount ul {
  display: flex;
  justify-content: space-between;
  height: 27px;
  line-height: 27px;
}

input[type='range'] {
  background: url(../../assets/images/progress_bar_1600.svg) 50% no-repeat;
  background-size: contain;
  cursor: pointer;
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  height: 27px;
  border-radius: 2px;
  padding-left: 11px;
  padding-right: 15px;
  outline: 0;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  background: url(../../assets/icons/roller_icon.svg);
}
​ input[type='range']::-webkit-slider-thumb:hover {
  background-color: white;
  border: 2px solid #e74c3c;
}
input[type='range']::-webkit-slider-thumb:before {
  content: '';
  position: absolute;
  border: 5px solid red;
  width: 50px;
  height: 50px;
  display: block;
}
.price {
  margin-top: 12px;
  margin-bottom: 53px;
  padding: 0 20px 0 0;
}
.active_price {
  color: #fe9013;
}
.price li {
  font-size: 26px;
  font-weight: 600;
  min-width: 60px;
}
.price li::before {
  content: '';
  width: 12px;
  height: 22px;
  display: inline-block;
  background: url(../../assets/icons/dollar_default.svg) 50% no-repeat;
  background-size: contain;
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.price .active_price::before {
  background: url(../../assets/icons/dollar_active.svg) 50% no-repeat;
  background-size: contain;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.input_price {
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  box-sizing: border-box;
  background: transparent;
  padding: 10px;
  padding-right: 25px;
  margin-left: -7px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  color: #929699;
  padding-left: 8px;
  outline: none;
}
.input_price_label:after {
  display: block;
  content: '';
  width: 12px;
  height: 20px;
  display: inline-block;
  background: url(../../assets/icons/dollar_input.svg) 50% no-repeat;
  background-size: contain;
  margin-bottom: -5px;
  margin-left: -25px;
}
.period {
  padding-top: 25px;
  padding-right: 5px;
  padding-bottom: 30px;
  margin-left: -10px;
}
.period input {
  display: none;
}
.period label {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid #fe9013;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: -3px;
}
.period input:checked + label {
  background: #fe9013;
}
.period input:checked + label:active,
.period label:active {
  background: #4b9200;
  border-color: #4b9200;
}
.period label:nth-of-type(2) {
  margin-left: 45px;
}
.amount .button1 {
  margin-right: -8px;
}
.button1 + p {
  text-align: center;
  margin-top: 29px;
}

/* footer section */
.footer {
  background-color: #111115;
  color: #fff;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 51px;
}
.sub1,
.sub3 {
  display: flex;
  justify-content: space-between;
}
.sub1 {
  margin-bottom: 36px;
  align-items: flex-start;
}
.sub2 {
  margin-bottom: 44px;
}
.sub1 a,
.sub2 a {
  display: block;
  text-align: center;
}
.sub3 {
  align-items: flex-end;
}
.sub1 .logo {
  padding-top: 0;
  padding-bottom: 5px;
}
.sub1 .logo::before {
  left: 10px;
  bottom: 5px;
  height: 30px;
  width: 10px;
}
.subscribe h4 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 13px;
}
.email {
  box-sizing: border-box;
  background: transparent;
  margin-right: 6px;
  height: 42px;
  color: #bdbdbd;
  padding: 0 9px;
  width: 228px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  position: relative;
  outline: none;
}
.email:valid {
  border: 1px solid #f9804b;
}
.email:invalid {
  border: 1px solid #d31414;
}
.email:active {
  border: 1px solid #4b9200;
}
.email:invalid:focus + button {
  border: 1px solid #d31414;
  color: #d31414;
}
.email + button:active {
  border: 1px solid #4b9200;
  color: #4b9200;
}
.social li {
  margin-top: 11px;
}
.social li:first-child {
  margin-top: 0;
}
.social a:active {
  color: #4b9200;
}
.social a:before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: url(../../assets/icons/facebook_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
  margin: 0 12px -7px 0;
}
.social li:nth-of-type(2) a:before {
  background: url(../../assets/icons/twitter_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social li:nth-of-type(3) a:before {
  background: url(../../assets/icons/instagram_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social li:nth-of-type(4) a:before {
  background: url(../../assets/icons/youtube_icon.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social a:active:before {
  background: url(../../assets/icons/facebook_icon.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(2) a:active:before {
  background: url(../../assets/icons/twitter_icon.svg) 50% no-repeat, #4b9200;
}

.social li:nth-of-type(3) a:active:before {
  background: url(../../assets/icons/instagram_icon.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(4) a:active:before {
  background: url(../../assets/icons/youtube_icon.svg) 50% no-repeat, #4b9200;
}
.footer_menu {
  position: relative;
  left: 85px;
}
.footer_menu li {
  margin-right: 54px;
  display: inline-block;
}
.copy {
  font-weight: 100;
}
.copy:active p {
  color: #4b9200;
  text-decoration: underline;
}
.copy p {
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.6rem;
}
.copy p:last-child {
  margin-top: 8px;
  margin-bottom: -1px;
}

/* header menu above 756px */
@media (min-width: 756px) {
  .menu_body {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }
  header ul {
    display: flex;
    justify-content: space-between;
  }
}

/* small screen desktop 1000px/940px */
@media screen and (max-width: 1350px) {
  /* common styles */
  .container {
    width: 94%;
  }

  /* watch section */
  .watchWrapper {
    height: 389px;
  }
  .watchWrapper:before {
    background: url(../../assets/images/panda_bg_donate_1000.jpg) 50% no-repeat;
    background-size: cover;
  }
}

/* common for 1000px */
@media (max-width: 1250px) {
  /* header section */
  header {
    background-color: #111115;
  }

  /* donate section */
  .donate {
    padding-bottom: 30px;
  }
  .donate .wrapper {
    max-width: 94%;
  }
  .info {
    margin-bottom: 48px;
  }
  .info p {
    margin-top: 31px;
  }
  .info + h3 {
    margin-bottom: 40px;
  }
  .pick {
    padding: 20px 43px 31px;
  }
  .pick h2 + p {
    margin-top: 11px;
    text-align: center;
  }
  .petDiet {
    padding-right: 18px;
  }
  .petDiet > div:nth-of-type(2) {
    margin-left: 90px;
  }
  .amount {
    max-width: 810px;
    margin: 0 auto;
  }
  .amount p:first-child {
    padding-left: 0;
  }
  input[type='range'] {
    background: url(../../assets/images/progress_bar_1000.svg) 50% no-repeat;
    background-size: contain;
    padding-right: 0px;
    padding-left: 0;
    left: 0;
    position: relative;
    right: -5px;
  }
  .price {
    padding: 0;
    margin-top: 12px;
  }
  .period {
    padding-top: 24px;
  }

  /* footer section */
  .footer .wrapper {
    width: 94%;
    padding-bottom: 53px;
  }
  .subscribe {
    padding-right: 32px;
  }
  .sub2 {
    margin-bottom: 46px;
  }
  .footer_menu {
    left: 80px;
  }
  .footer_menu li {
    margin-right: 44px;
  }
}

/* for header section 1000px */
/* for pet cards slider 1000px */
@media (max-width: 1005px) {
  /* common styles */
  .wrapper {
    max-width: 940px;
  }

  /* header section */
  header li a {
    margin-right: 48px;
  }
  header li:last-of-type a {
    margin-right: 0;
  }
}

@media screen and (max-width: 960px) {
  /* donate section */
  .donate {
    padding-bottom: 47px;
    padding-top: 31px;
  }

  .donate h3 {
    font-size: 24px;
    line-height: 120%;
  }
  .info {
    margin-bottom: 33px;
  }
  .info p {
    margin-top: 19px;
    margin-bottom: 0;
    line-height: 138%;
  }
  .info + h3 {
    font-size: 3.6rem;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .pick {
    padding: 31px 0 23px;
  }
  .pick h2 {
    margin-bottom: 21px;
    margin-left: 0;
  }
  .pick h2 + p {
    text-align: center;
  }
  .petDiet {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .donate form > p {
    padding-left: 10px;
    margin-bottom: 8px;
  }
  /* .donate ul:nth-of-type(1) {
    padding: 4px 40px;
  } */
  .amount p:first-child {
    padding-left: 10px;
    margin-bottom: 7px;
  } /* .donate ul:nth-of-type(1) li:nth-of-type(2),
  .donate ul:nth-of-type(1) li:nth-of-type(3),
  .donate ul:nth-of-type(2) li:nth-of-type(2),
  .donate ul:nth-of-type(2) li:nth-of-type(3) {
    display: none;
  } */
  /* .activeAmount:before {
    position: absolute;
    content: url(../../assets/icons/roller_icon.svg);
    left: 5px;
    top: 5px;
  } */
  .price {
    padding: 0;
  }
  /* .amount ul:first-of-type::before {
    width: calc(100% - 80px);
    left: 40px;
  } */
  #inputPrice {
    width: 180px;
    height: 42px;
    padding-left: 5px;
  }
  .period {
    padding-top: 32px;
  }
  .period p {
    margin-top: 10px;
  }
}

/* for the backstage section 640px */
@media (max-width: 855px) {
  /* footer section */
  .footer .wrapper {
    position: relative;
    padding-top: 12px;
    max-width: 93.5%;
  }
  .sub1 {
    margin-bottom: 32px;
  }
  .sub2 {
    margin-bottom: 67px;
  }
  .subscribe {
    display: none;
  }
  .social {
    position: absolute;
    top: 12px;
    right: -1px;
  }
  .social li {
    margin-bottom: 21px;
  }
  .social span {
    display: none;
  }
  .social a:before {
    margin-right: 0;
  }
  .footer_menu {
    flex: 1;
    left: 0;
    margin-right: 73px;
  }
  .footer_menu ul {
    display: flex;
    justify-content: space-between;
  }
  .footer_menu li {
    margin-right: 0;
  }
}

/* common 640px */
@media (max-width: 755px) {
  /* header section */
  header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 0 3%;
  }
  header .wrapper {
    justify-content: space-between;
    padding: 0;
  }
  header .logo {
    z-index: 5;
    font-size: 1.23rem;
    line-height: 120%;
    width: 47px;
    border: none;
    transition: all 0.3s;
  }
  .logo:before {
    left: 6px;
    bottom: 5px;
    width: 5px;
    height: 13px;
  }
  .burger_logo {
    color: #fe9013;
    border-color: #fe9013;
    margin: 10px 0 10px -9px;
    border: 1px solid #fe9013;
    font-size: 1.52rem;
    width: 66px;
    transition: all 0.3s;
  }
  .burger_logo::before {
    background-image: url(../../assets/icons/burger_bamboo.svg);
    left: 9px;
    bottom: 4px;
    width: 7px;
    min-height: 21px;
  }
  .menu {
    flex: none;
    flex-direction: column;
  }
  .menu_icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 18px;
    height: 10px;
    cursor: pointer;
  }
  .menu_icon span,
  .menu_icon::before,
  .menu_icon::after {
    left: 0;
    position: absolute;
    height: 20%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu_icon::before,
  .menu_icon::after {
    content: '';
  }
  .menu_icon::before {
    top: 0;
  }
  .menu_icon::after {
    bottom: 0;
  }
  header li a {
    margin: 0;
  }
  .menu_icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu_icon._active span,
  .menu_icon._active::before,
  .menu_icon._active::after {
    background-color: #333b41;
  }
  .menu_icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu_icon._active::before {
    top: 55%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu_icon._active::after {
    top: 45%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu_body {
    position: fixed;
    top: 0;
    left: -100%;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    color: #333b41;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 81px;
    padding-left: 9px;
    text-align: left;
    overflow: auto;
    transition: all 0.3s ease 0s;
  }
  .menu_body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 62px;
    left: 0;
    top: 0;
  }
  .menu_body._active::before {
    background-color: #fff;
    transition: all 0.3s;
  }
  .menu_body._active {
    left: 0;
  }
  .menu_body._active a {
    font-weight: 400;
  }
  .menu_body li {
    margin-bottom: 15px;
  }

  /* watch section */
  .watchWrapper {
    height: 336px;
    margin-top: 33px;
  }
  .watchWrapper:before {
    background-position-x: -125px;
  }

  /* donate section */
  input[type='range'] {
    background: url(../../assets/images/progress_bar_640.svg) 50% no-repeat;
    background-size: cover;
    padding-right: 23px;
    padding-left: 23px;
    right: -5px;
  }
  .donate ul.price {
    margin-top: 7px;
    padding-left: 14px;
    padding-right: 14px;
    margin-bottom: 58px;
  }
  .input_price {
    width: 180px;
    height: 42px;
  }
  .period {
    padding-top: 30px;
  }
  .amount .button1 {
    margin-right: 0;
  }
}

@media (max-width: 639px) {
  input[type='range'] {
    background: url(../../assets/images/progress_bar_320.svg) 50% no-repeat;
    background-size: contain;
    padding-right: 3%;
    padding-left: 3%;
    right: -5px;
  }
}

@media screen and (max-width: 600px) {
  /* donate section */
  .donate {
    padding-top: 30px;
    padding-bottom: 21px;
  }
  .info {
    width: 99%;
  }
  .info h3 {
    margin-top: 0;
    line-height: 120%;
  }
  .info p {
    margin-top: 20px;
    line-height: 137%;
  }
  .info + h3 {
    font-size: 24px;
  }
  .pick {
    padding-top: 20px;
    padding-bottom: 11px;
  }
  .pick h2 {
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 9px;
  }
  .pick h2 + p {
    font-size: 16px;
    line-height: 140%;
    margin-top: 0;
  }
  .petDiet {
    padding-right: 0;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .petDiet span:nth-of-type(1) {
    font-size: 40px;
    padding-top: 38px;
    padding-bottom: 2px;
  }
  .petDiet span:nth-of-type(2) {
    font-size: 9px;
  }
  .petDiet div:first-child::after {
    content: url(../../assets/icons/x_icon_mobile.svg);
    top: 46%;
    right: -15px;
  }
  .petDiet img {
    width: 160px;
  }
  .petDiet > div:nth-of-type(2) {
    margin-left: 50px;
  }
  .donate form > p {
    padding-left: 0;
    margin-bottom: 10px;
  }
  /* .amount ul:first-of-type {
    padding: 0 20px;
    height: 14px;
  }
  .amount ul:nth-of-type(1)::before {
    width: calc(100% - 40px);
    left: 20px;
    top: 6px;
  } */
  .amount p:first-child {
    padding-left: 0;
    margin-bottom: 5px;
  }
  .amount li {
    position: relative;
  }
  .amount li label {
    width: 46px;
    height: 46px;
    top: calc(50% - 23px);
    left: calc(50% - 23px);
    margin: 0;
  }
  .activeAmount:before {
    position: absolute;
    content: url(../../assets/icons/roller_icon_mobile.svg);
    left: 13px;
    top: 13px;
  }
  .amount li label::after {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    top: calc(50% - 3px);
    margin: 0;
    left: calc(50% - 3px);
  }
  .activeAmount::after {
    left: calc(50% - 3px);
  }
  .amount .btn {
    margin-right: auto;
  }
  .amount ul.price {
    padding: 0;
    margin-top: -5px;
    margin-bottom: 20px;
    max-width: 98%;
    margin-left: auto;
    margin-right: 10px;
  }
  .price li {
    font-size: 13px;
    min-width: auto;
  }
  .price li::before {
    background: url(../../assets/icons/dollar_mobile.svg) 50% no-repeat;
    width: 7px;
    height: 10px;
  }
  .period {
    padding-top: 23px;
    padding-bottom: 28px;
    margin-left: 0;
    padding-right: 18px;
  }
  .period label {
    margin-right: 5px;
  }
  .period p {
    margin-top: 35px;
  }
}

/* common 320px */
@media (max-width: 550px) {
  /* header section */
  .burger_logo {
    margin-left: 0px;
  }

  /* watch section */
  .watchWrapper {
    top: 0;
    margin-top: 33px;
    height: 188px;
  }
  .watchWrapper:before {
    background: url(../../assets/images/panda_bg_donate_320.jpg) 50% no-repeat;
    background-size: cover;
  }

  /* footer section */
  .footer .wrapper {
    padding-top: 20px;
  }
  .footer .logo {
    text-align: center;
    border: none;
    width: 135px;
    margin: 0 auto;
  }
  .footer .logo::before {
    left: 75px;
  }
  .sub1 {
    margin-bottom: 81px;
  }
  .social {
    top: 73px;
    min-width: 195px;
    left: 50%;
    transform: translateX(-50%);
  }
  .social ul {
    display: flex;
    justify-content: space-between;
  }
  .social li {
    margin: 0;
  }
  .sub3 {
    flex-direction: column-reverse;
  }
  .sub2 {
    margin-bottom: 30px;
    margin-left: -2px;
  }
  .sub2 a {
    margin: 0 auto;
  }
  .copy {
    margin-bottom: 30px;
  }
  .copy p {
    font-size: 1.5rem;
    line-height: 120%;
  }
  .copy p:last-child {
    margin-top: 13px;
  }
  .footer_menu {
    margin-right: 0;
    width: 100%;
    padding: 0 11px;
  }
}
@media (max-width: 450px) {
  /* donate section */
  input[type='range'] {
    background-size: cover;
    height: 15px;
    padding-left: 1.3%;
    padding-right: 1.3%;
  }
  input[type='range']::-webkit-slider-thumb {
    background: url(../../assets/icons/roller_icon_320.svg) 50% no-repeat;
  }
}

@media (max-width: 350px) {
  /* donate section */
  input[type='range'] {
    background-size: contain;
    height: 15px;
    padding-left: 0.7%;
    padding-right: 0.7%;
  }
}
