@import url(../../assets/styles/reset.css);

/* common styles */
body {
  font: 16px Roboto, Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* by style_guide */
/* form */
.btnForm {
  box-sizing: border-box;
  background-color: #f1f3f1;
  color: #000;
  border: 1px solid #333b41;
  border-radius: 5px;
  width: 129px;
  height: 42px;
  line-height: 42px;
  padding: 0;
}
.mail {
  box-sizing: border-box;
  border-width: 1px;
  width: 228px;
  height: 42px;
  line-height: 42px;
  padding: 0;
  padding-left: 10px;
}

.active {
  border-color: #4b9200;
  color: #4b9200;
}
.mistake {
  border-color: #d31414;
  color: #d31414;
}
.disabled {
  border-color: #767474;
  background: #767474;
  color: #fff;
}
/*buttons*/
.btn {
  color: #fff;
  border: none;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  font-weight: 500;
}

.btn:hover {
  background: #e47209;
}

.btn:active {
  background: #4b9200;
}

.btn2 {
  border-radius: 5px;
}

/* navigation menu */
.activeMenu {
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  cursor: default;
}

/* header */
header {
  background-color: #283035;
}
header .container {
  min-height: 80px;
  color: #fff;
  line-height: 80px;
}
header .container > * {
  display: inline-block;
}
nav li {
  display: inline-block;
  margin: 0 27px;
}
header nav a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: inline;
  font-weight: 500;
  line-height: 140%;
}
nav a:hover,
.design a:hover {
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.logo {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400;
  width: 82px;
  line-height: 0;
  vertical-align: middle;
  text-align: center;
  margin-right: 32px;
}
.logo a {
  display: inline-block;
  line-height: 140%;
  border-radius: 5px;
  vertical-align: middle;
  padding: 3px 5px;
  letter-spacing: 1px;
}
.logo span {
  position: relative;
}
.logo span::before {
  position: absolute;
  left: -6px;
  bottom: 0;
  content: '';
  background: url(../../assets/icons/bamboo.svg);
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 10px;
  height: 21px;
}
.design {
  float: right;
}

/* watch section */
.watchWrapper {
  min-height: 700px;
  position: relative;
}
.watchWrapper:before {
  position: absolute;
  content: '';
  width: 100%;
  height: calc(100% + 80px);
  background-image: url(../../assets/images/Giant_Panda.png);
  background-repeat: no-repeat;
  background-size: cover;
  top: -80px;
  left: 0;
  z-index: -1;
}
.watchWrapper > .container {
  display: flex;
  justify-content: flex-end;
}
.watch {
  text-align: center;
  margin-top: 86px;
  position: relative;
}

.watch p {
  color: #fff;
  font-weight: 700;
  line-height: 80px;
  width: 500px;
  text-align: center;
  font-size: 104px;
  margin-bottom: 60px;
  position: relative;
  z-index: 5;
  letter-spacing: 0px;
}
.watch:before {
  left: -70px;
  top: -75px;
  content: '';
  position: absolute;
  width: 465px;
  height: 465px;
  border-radius: calc(465px / 2);
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  z-index: 1;
}
.watch span {
  color: #ffee2e;
  letter-spacing: -3px;
}
.btnTooltip {
  color: #fff;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 25px;
  border: none;
  letter-spacing: -1px;
}
.btnTooltip:hover {
  background-color: #e47209;
  background-image: none;
}
.btnTooltip:active {
  background-color: #4b9200;
}

/* backstage section */
.backStage {
  margin-top: 140px;
  margin-bottom: 177px;
  color: #333b41;
  position: relative;
}

.backStage .container {
  display: flex;
  background: #fff;
}

.backStage:before {
  content: url(../../assets/images/flower_foto.png);
  position: absolute;
  right: 0;
  top: calc(-332px + 50%);
  z-index: -5;
}
.backStage figure {
  margin-right: 87px;
}
.backStage h2 {
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 22px;
}
.backStage h3 {
  margin: 54px auto 34px;
  font-size: 24px;
  line-height: 120%;
}
.backStage p {
  font-size: 16px;
  line-height: 135%;
}
.petCards {
  text-align: center;
  position: relative;
  padding-bottom: 100px;
}
.petCards:before {
  content: url(../../assets/images/palm_foto.png);
  position: absolute;
  left: 0;
  bottom: -4px;
  z-index: -5;
}

.petCards:after {
  content: url(../../assets/images/strelitzia.png);
  position: absolute;
  right: 0;
  bottom: -4px;
  z-index: -5;
}
.rowPetCards {
  display: flex;
  justify-content: space-between;
}
.petCard {
  border: 1px solid #fa6f32;
  width: 366px;
  background: #fff;
  /* border-image: linear-gradient(113.96deg, #fa6f32 1.49%, #fe9013 101.44%); */
  /* border-image-slice: fill; */
  border-radius: 5px;
  overflow: hidden;
  /* box-shadow: 0 0 0 1px #fa6f32; */
}
.petImg {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  z-index: 2;
}
.petTooltip {
  position: absolute;
  border: 1px solid #000;
  border-radius: 5px;
  width: 159px;
  height: 107px;
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: calc(50% - 79px);
  text-align: left;
  padding: 7px 10px;
  z-index: -1;
}
.petTooltip * {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.petTooltip p {
  margin-top: 5px;
}
.butTooltip {
  border: none;
  border-radius: 5px;
  color: #4b9200;
  width: 136px;
  height: 31px;
  margin-top: 15px;
}

.tooltipMark {
  position: absolute;
  left: 50px;
  top: -1px;
  font-size: 60px;
  display: inline-block;
  width: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.99);
}
.tooltipMark::before,
.tooltipMark::after {
  content: '';
  height: 10px;
  position: absolute;
  top: -10px;
}
.tooltipMark::before {
  border-left: 1px solid #000;
  transform: rotate(27deg);
  transform-origin: 1px calc(100% - 2px);
  left: 0;
}
.tooltipMark::after {
  border-right: 1px solid #000;
  transform: rotate(-27deg);
  transform-origin: 0 calc(100% - 2px);
  right: 0;
}
.petCard:hover {
  overflow: visible;
  z-index: 3;
}
.petCard:hover img {
  transform: scale(calc(386 / 366));
  transition: all 0.5s;
}
.petCard:hover .petTooltip {
  transform: translateY(125px);
  transition: 0.5s;
}
.petInfo {
  display: flex;
  justify-content: flex-end;
}
.petName {
  flex: 1;
  padding: 8px 14px 16px;
}
.petName * {
  text-align: left;
}
.petName h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: -1px;
}
.petCard p {
  font-size: 15px;
  font-weight: 300;
  line-height: 85%;
}
.petIcon {
  margin: auto 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
.banana_bamboo {
  width: 33px;
  height: 37px;
  background-image: url(../../assets/icons/banana-bamboo_icon.svg);
}
.meat_fish {
  position: relative;
  left: 2px;
  bottom: 3px;
  width: 48px;
  height: 38px;
  background-image: url(../../assets/icons/meet-fish_icon.svg);
}
.petCardsControl {
  height: 20px;
  position: relative;
}
.petCardsControl button {
  border: none;
  position: absolute;
  width: 62px;
  height: 62px;
  border-radius: 31px;
  background-size: 30% auto;
  top: -22px;
}

.btnPrev {
  left: -82px;
  background: url(../../assets/icons/btn-prev.svg) 50% no-repeat,
    linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.btnNext {
  right: -82px;
  background: url(../../assets/icons/btn-next.svg) 50% no-repeat,
    linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}
.btnPrev:active {
  background: url(../../assets/icons/btn-prev.svg) 50% no-repeat, #4b9200;
  /* background-size: 50%; */
}
.btnNext:active {
  background: url(../../assets/icons/btn-next.svg) 50% no-repeat, #4b9200;
  /* background-size: 50%; */
}

.petCards .btn {
  margin-top: 80px;
  font-size: 15px;
  font-weight: 500;
  line-height: 150%;
}
/* fiend section */
.friend {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
  /* margin-top: 100px; */
}
.friend .container {
  border-radius: 20px;
  background: rgba(253, 253, 255, 0.52);
  padding-top: 41px;
  padding-bottom: 59px;
  text-align: center;
}
.friend h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  color: #fe9013;
  margin-bottom: 30px;
}
.friend h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
  color: #333b41;
  margin-top: 60px;
  margin-bottom: 40px;
}
.friend p {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: #333b41;
  text-align: left;
  padding-left: 100px;
  /* padding-right: 100px; */
}
.friend p:nth-of-type(2) {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  margin-top: 40px;
}
.friend p:nth-of-type(3) {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  margin-top: 10px;
  padding-right: 198px;
}
.friend p a {
  position: relative;
  white-space: nowrap;
}
.friend p a:after {
  content: '';
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #fe9013;
  bottom: -5px;
  left: 0;
}
.feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 60px;
  width: 764px;
}
.step {
  /* border: 1px solid #f9804b; */
  border-radius: 5px;
  overflow: hidden;
  /* border-image-source: linear-gradient(
    113.96deg,
    #f9804b 1.49%,
    #fe9013 101.44%
  ); */
}
.step {
  width: 167px;
  height: 244px;
}
.stepImg {
  width: 167px;
  border: 1px solid #f9804b;
  border-radius: 5px;
  height: 167px;
}
.step p {
  margin-top: 31px;
  padding-left: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  /* border: 1px solid red; */
}
.pay {
  background: url(../../assets/icons/pay.svg) 50% no-repeat, #fff;
}
.zoo {
  background: url(../../assets/icons/zoo.svg) 50% no-repeat, #fff;
}
.monkey {
  background: url(../../assets/icons/monkey.svg) 50% no-repeat, #fff;
}
.nextStep {
  position: relative;
  top: -40px;
  width: 70px;
  height: 50px;
  background: url(../../assets/icons/nextStep.svg) 50% no-repeat;
}

.stories {
  display: flex;
  justify-content: space-between;
}
.story {
  padding: 14px;
  text-align: left;
  width: 268px;
  height: 391px;
  border: 1px solid rgb(254, 189, 171);
  background: #f1f3f2;
  border-radius: 20px;
  overflow: hidden;
}

/* testimonials section */
.testimonials {
  padding-bottom: 180px;
  position: relative;
}
.testimonials::after {
  content: url(../../assets/images/leav_foto.png);
  position: absolute;
  bottom: -137px;
  right: 0;
  z-index: -5;
}
.testimonials h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
  margin: 140px auto 47px;
  text-align: center;
}

.story figure {
  display: flex;
  margin-bottom: 12px;
}
.story img {
  margin-right: 11px;
  width: 37px;
  height: 37px;
  border-color: #ffee2e;
}
.story figcaption {
  flex: 1;
}
.userName {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.data {
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}
.data:nth-of-type(1):after {
  content: '•';
  margin-left: 6px;
  margin-right: 6px;
}
.testimonial {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}
.slide {
  width: 600px;
  height: 8px;
  background: #f5f7f6;
  border: 1px solid rgb(254, 189, 171);
  margin: 21px auto 31px;
  border-radius: 5px;
  position: relative;
}
.slide:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 115px;
  height: 6px;
  border-radius: 5px;
  background: #fe9013;
  left: 0;
}
.slide:hover {
  border-color: #e47209;
  cursor: pointer;
}
.slide:hover:before {
  background: #e47209;
  cursor: pointer;
}
.slide:active::before {
  background-color: #4b9200;
}
.testimonials .btn {
  margin-left: 0;
}

/* footer section */
footer {
  background-color: #111115;
  color: #fff;
}
footer .container {
  display: flex;
  flex-direction: column;
}

footer .container > div:nth-of-type(1),
footer .container > div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .container > div:nth-of-type(1) {
  margin-top: 43px;
}
footer .container > div:nth-of-type(2) {
  margin-top: 36px;
  margin-bottom: 30px;
}
footer .container > div:nth-of-type(3) {
  margin-bottom: 55px;
}
footer .logo {
  margin-bottom: 30px;
  position: relative;
  top: -2px;
}
footer form h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 12px;
}
.email {
  box-sizing: border-box;
  background: transparent;
  margin-right: 5px;
  height: 42px;
  color: #bdbdbd;
  padding: 0 10px;
  width: 228px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  position: relative;
  top: -1px;
}
.email:valid {
  border: 1px solid #f9804b;
}
.email:invalid {
  border: 1px solid #d31414;
}
.email:active {
  border: 1px solid #4b9200;
}
.email:invalid:focus + button {
  border: 1px solid #d31414;
  color: #d31414;
}
.email + button:active {
  border: 1px solid #4b9200;
  color: #4b9200;
}

.social li {
  margin-top: 13px;
}
.social a:active {
  color: #4b9200;
}
.social a:before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: url(../../assets/icons/facebook.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
  margin: 0 12px -7px 0;
}
.social li:nth-of-type(2) a:before {
  background: url(../../assets/icons/twitter.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}

.social li:nth-of-type(3) a:before {
  background: url(../../assets/icons/instagram.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social li:nth-of-type(4) a:before {
  background: url(../../assets/icons/youtube.svg) 50% no-repeat,
    rgba(196, 196, 196, 0.5);
}
.social a:active:before {
  background: url(../../assets/icons/facebook.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(2) a:active:before {
  background: url(../../assets/icons/twitter.svg) 50% no-repeat, #4b9200;
}

.social li:nth-of-type(3) a:active:before {
  background: url(../../assets/icons/instagram.svg) 50% no-repeat, #4b9200;
}
.social li:nth-of-type(4) a:active:before {
  background: url(../../assets/icons/youtube.svg) 50% no-repeat, #4b9200;
}
.copy {
  font-weight: 100;
}
.copy p {
  color: rgba(255, 255, 255, 0.4);
  margin-top: 15px;
  font-size: 15px;
}
footer nav {
  position: relative;
  left: 57px;
}
